        <header>
            <h1>The Food Observer</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/blog">Posts</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>