.errorMessage {
    padding: 4px 8px;
    background: rgba(240, 100, 100, 0.6);
    color: white;
    border: 1px solid rgba(240, 100, 100, 0.8);
    border-radius: 4px;
}

.form .input-wrap {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form .input-wrap label {
    display: block;
    margin-bottom: 3px; 
}

.form .input-wrap input {
    display: block;
    width: 100%;
    padding: 5px 8px;
    line-height: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
}

.form .input-wrap textarea {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid #ccc;
}

.form button {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 18px;
    color: #fff;
    background-color: hsla(321, 65%, 25%, 1);
    border-radius: 3px;
    box-shadow: 0 0 6px 0px rgba(0,0,0,0.15);
    border: 0;
    padding: 6px 12px;
    outline: 0;
    cursor: pointer;
}

.form button:hover {
    background-color: hsla(321, 55%, 40%, 1);
    box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.35);
}